.editablePageNameCell {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.editablePageNameContent {
  outline: none;
  flex: 1;
  min-width: 0;
}

.editablePageNameContentDisabled {
  cursor: default;
}

.editablePageNameContentEnabled {
  cursor: text;
}
